html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}
body ,#title{
	font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
*{
    box-sizing:border-box;
}
.clear{
    clear: left;
}
.fab {
	color: darkgrey;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
	font-size: 20px;
	display: inline-flex;
}
.container {
	max-width: 70%;
	margin: 0 auto;
}
header {
	margin-top: 70px;
	margin-bottom: 100px;
}
#header-left {
	float: left;
}
#title {
	font-size: 40px;
	font-weight: bolder;
}
#sub-title {
	color: darkgrey;
	font-size: 18px;
	padding-top: 4px;
}
#header-right {
	float: right;
	padding: 10px 50px;
}
#header-right li {
	float: left;
	margin-right: 30px;
	letter-spacing: normal;
}
#header-image {
	padding-top: 150px;
}
#home-text {
	font-size: 20px;
	color: darkgrey;
}
#topics {
	padding: 80px 0;
}
.topic {
	height: 300px;
	width: 100%;
}
.date {
	float: left;
	height: 100%;
	width: 30%;
}
.topic a ,.text-contents{
	color: darkgrey;
}
.text {
	float: left;
}
.text-heading {
	font-size: 30px;
	font-weight: bolder;
	padding-bottom: 10px;
}
.navigation　{
	color: #777777;
	display: inline-block;
}
.nav-links {
	width: 70%;
	height: auto;
	float: right;
}
.page-numbers {
	border:1px solid #cccccc;
	display: inline-block;
	color: #333;
	padding: 8px 18px;
	margin-right: 6px;
	font-size: larger;
	line-height: 2;
}
.footer-container {
	max-width: 70%;
	margin: 60px auto;
	display: flex;
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
	padding: 80px 0;
}
.profile {
	width: 30%;
	padding: 0 20px;

}
.profile-logo {
	display: flex;
}
.profile-img {
	width: 50%;
	margin: 0 0 10px 10px;
}
.profile-img img {
	border-radius: 50%;
	width: 100px;
	height: auto;
	vertical-align: middle;
	margin-bottom: 20px;
	max-width: 100%;

}
.profile-menu {
	vertical-align: middle;
	margin-bottom: 20px;
	width: 50%;
}
.profile-name {
	font-size: 20px;
}
strong {
	color: #333;
	font-weight: 600;
}
.profile-text {
	height: 110px;
	display: block;
	width: 100%;
	padding: 0 10px;
}
#footer-right {
	width: 70%;
	display: flex;
}
.footer-heading {
	color: black;
	font-weight: bolder;
	margin-bottom: 30px;
}
.footer-text {
	width: 30%;
	padding: 0 20px;
}
.footer-topic {
	width: 35%;
	padding: 0 20px;
}
a {
	display: inline-block;
}
.topic-heading {
	border-bottom: solid 1px rgb(199, 199, 199);
	margin: 5px 0;
	color: black;
}
.topic-date {
	color: darkgray;
	font-size: 15px;
}
.footer-categoly {
	width: 35%;
	padding: 0 20px;
}
.site-bottom-link {
	max-width: 70%;
	margin: auto;
	margin-bottom: 40px;
	text-align: center;
}
.site-bottom-link a {
	margin-right: 10px;
}
